<!DOCTYPE html>
<html lang="en">

<head>
  <title>Event: ----id----</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/vendor/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/vendor/bootstrap.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/populateTable.js"></script>
  <script type="text/javascript" src="/scripts/tableAddParticipant.js"></script>
</head>

<body class="container">
  <%- include('partials/_header') %>
  <header>
    <h1>This is event <%= locals.event.title %></h1>
  </header>
  <main>
    <section>
      <div class="card text-center">
        <div class="card-header">
          Event: <%= locals.event.id %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= locals.event.title %></h5>
          <p class="card-text"><%= locals.event.description %></p>
          <a href="#" class="btn btn-primary">url: <%= locals.event.url %></a>
        </div>
        <!-- No footer info atm -->
        <!-- <div class="card-footer text-muted">
          footer some agregate data - total attendees / days till event
        </div> -->
      </div>
    </section>
    <section>
      <table id="eventTimesTable" class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Dates and Times</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          </tr>
        </tbody>
      </table>
      <!-- No longer need to add as user is created before -->
      <!-- <button id="eventAddParticipant">Add Participant</button> -->
    </section>
  </main>
  <span id='variableJSON' hidden>
    <%= JSON.stringify(locals); %>
  </span>
</body>

</html>
