<!DOCTYPE html>
<html lang="en">

<head>
  <title>Scoodel Event</title>

  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
    crossorigin="anonymous">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>

    <!-- App JS -->
  <script type="text/javascript" src="/scripts/viewEvent.js"></script>

</head>

<body class='bg-light text-dark'>
  <%- include('partials/_header') %>

  <main class="container">

    <section class='event-details'>
      <div class="card text-center">
        <div class="card-header">
          <h5 class="card-title">Event: <%= locals.event.title %></h5>
        </div>
        <div class="card-body">

          <p class="card-text"><%= locals.event.description %></p>
          <label for='event-url'>Event URL:</label>
          <div class="input-group col-6 url-div">
            <input type="text" class="form-control" id='event-url' placeholder="Event URL" value='<%= locals.host %>/events/<%= locals.event.url %>' aria-label="Event URL" aria-describedby="addon-wrapping" readonly>
            <div class="input-group-append">
              <span class="input-group-text" id="addon-wrapping">
                <button class="copy-url" data-clipboard-target="#event-url">
                  <i class="far fa-clipboard"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
        <!-- No footer info atm -->
        <!-- <div class="card-footer text-muted">
          footer some agregate data - total attendees / days till event
        </div> -->
      </div>
    </section>

    <section class='vote-details'>
      <div class="card text-center">
        <div class="card-header">
          <h6 class="card-title">Vote for the best times for you.</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Start Time</th>
                  <% for(const time of locals.times) { %>
                    <th scope='col'>
                      <div><%= moment(time.start_time).format("dddd") %></div>
                      <div><span class='month-day'><%= moment(time.start_time).format("MMMM Do") %></span> <%= moment(time.start_time).format("YYYY") %></div>
                      <div><%= moment(time.start_time).format("h:mm A") %></div>
                      <div><%= time.time_zone %></div>
                    </th>
                  <% } %>
                </tr>
                <tr>
                  <th scope="col">End Time</th>
                  <% for(const time of locals.times) { %>
                    <th scope='col'>
                      <div><%= moment(time.end_time).format("dddd") %></div>
                      <div><span class='month-day'><%= moment(time.end_time).format("MMMM Do") %></span> <%= moment(time.end_time).format("YYYY") %></div>
                      <div><%= moment(time.end_time).format("h:mm A") %></div>
                      <div><%= time.time_zone %></div>
                    </th>
                  <% } %>
                </tr>
                <tr>
                  <th scope="col"></th>
                  <% for(const time of locals.times) { %>
                    <th scope='col'>
                      <%= time.total_votes %> votes yes!
                    </th>
                  <% } %>
                </tr>

              </thead>

              <tbody>
                <form method='POST' action='/votes' id='vote-form'>
                  <tr class='table-primary user-area'>
                    <th scope="row" >
                      <div class="form-group">
                        <label for='user-name'>Name:</label>
                        <input type="text" class="form-control" id='user-name' name='name' value='<%= locals.user.name %>' placeholder="Enter Name" size='20' required>
                      </div>
                    </th>

                    <% const numOfTimes = locals.times.length; %>

                    <% if (!locals.userVotes || locals.userVotes.userVotes.length === 0 ) { %>
                      <% for(let col = 0; col < numOfTimes; col++) { %>
                        <td>
                          <label>Can you attend?
                            <select class="custom-select" name='vote-id-new-time_id-<%= locals.times[col].id %>'>
                              <option value='true'>Yes</option>
                              <option value='false'>No</option>
                              <option value='null' selected>-</option>
                            </select>
                          </label>
                        </td>
                     <% } %>

                    <% } else { %>
                      <% for(let col = 0; col < numOfTimes; col++) { %>
                        <% const vote = locals.userVotes.userVotes[col]; %>
                        <% if (vote) { %>
                          <td>
                            <div>
                              <label>Can you attend?</label>
                            </div>
                            <div>
                              <select class="custom-select" name='vote-id-<%= vote.id %>-time_id-<%= vote.time_id %>'>
                                <% if (vote.vote) { %>
                                  <option value='true' selected>Yes</option>
                                  <option value='false'>No</option>
                                  <option value='null'>-</option>
                                <% } else if (vote.vote === false) { %>
                                  <option value='true'>Yes</option>
                                  <option value='false' selected>No</option>
                                  <option value='null'>-</option>
                                <% } else { %>
                                  <option value='true'>Yes</option>
                                  <option value='false'>No</option>
                                  <option value='null' selected>-</option>
                                <% } %>
                              </select>
                            </div>
                          </td>

                        <% } else { %>
                          <td>
                            <label>Can you attend?
                              <select class="custom-select" name='vote-id-new-time_id-<%= locals.times[col].id %>'>
                                <option value='true'>Yes</option>
                                <option value='false'>No</option>
                                <option value='null' selected>-</option>
                              </select>
                            </label>
                          </td>
                        <% } %>
                      <% } %>
                    <% } %>
                  </tr>

                  <% const emailSpan = Math.ceil((numOfTimes + 1) / 2); %>
                  <% const submitSpan = (numOfTimes + 1) - emailSpan; %>

                  <tr class='table-primary user-area'>
                    <td colspan='<%= emailSpan %>'>
                      <div class="form-group">
                        <label for='user-email'>Email:</label>
                        <input type="email" class="form-control" id='user-email' name='email' value='<%= locals.user.email %>' placeholder="@email">
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Check for Email updates</label>
                      </div>
                    </td>
                    <td colspan='<%= submitSpan %>'>
                      <button class='btn btn-success'>Submit</button>
                    </td>
                  </tr>
                </form>

                <% for(const guest of locals.guests) { %>
                  <tr class='table-secondary'>
                    <th scope='row'><%= guest.user.name %></th>
                    <% for(let col = 0; col < numOfTimes; col++) { %>
                      <% const vote = guest.userVotes[col]; %>
                      <td>
                        <% if (vote.vote) { %>
                          Yes
                        <% } else if (vote.vote === false) { %>
                          No
                        <% } else { %>
                          -
                        <% } %>
                      </td>
                    <% } %>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>

        </div>
        <!-- No footer info atm -->
        <!-- <div class="card-footer text-muted">
          footer some agregate data - total attendees / days till event
        </div> -->
      </div>
    </section>
  </main>
</body>
</html>
